* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  
  /* Conteúdo principal */
  main{
    background-color: rgb(228, 246, 228);
  }
  .news-container {
    display: flex;
    margin-left: -50%;
    background-color: rgb(228, 246, 228);
    flex-wrap: wrap;
    justify-content: center;
    /*margin: 1rem 0;*/
    gap: 5rem;
  }
  h2{
    margin-top: 20px;
  }
  
  .news-item {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.34) 4px 6px 8px;
    margin: 1.5rem 0;
    padding: 1rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
  }
  
  .news-item img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 1rem;
  }
  

  .news-container {
    animation: slidein 3s ease-in 0s reverse both running;
}

@keyframes slidein {
    0% {
        transform: translatex(17%);
        transition: (1s);
    }
    100% {
        transform: translateY(0);
    }
}